.8ahuit {
	background-image: url("../images/logosMarques/8ahuit.png");
}
.a2pas {
	background-image: url("../images/logosMarques/a2pas.png");
}
.aldi {
	background-image: url("../images/logosMarques/aldi.png");
}
.auchan {
	background-image: url("../images/logosMarques/auchan.png");
}
.biocoop {
	background-image: url("../images/logosMarques/biocoop.png");
}
.carrefour {
	background-image: url("../images/logosMarques/carrefour.png");
}
.carrefour_city {
	background-image: url("../images/logosMarques/carrefour_city.png");
}
.carrefour_contact {
	background-image: url("../images/logosMarques/carrefour_contact.png");
}
.carrefour_express {
	background-image: url("../images/logosMarques/carrefour_express.png");
}
.carrefour_market {
	background-image: url("../images/logosMarques/carrefour_market.png");
}
.casino {
	background-image: url("../images/logosMarques/casino.png");
}
.cocci_market {
	background-image: url("../images/logosMarques/cocci_market.png");
}
.coccinelle {
	background-image: url("../images/logosMarques/coccinelle.png");
}
.colruyt {
	background-image: url("../images/logosMarques/colruyt.png");
}
.cora {
	background-image: url("../images/logosMarques/cora.png");
}
.dia {
	background-image: url("../images/logosMarques/dia.png");
}
.diagonal {
	background-image: url("../images/logosMarques/diagonal.png");
}
.Eleclerc {
	background-image: url("../images/logosMarques/E.leclerc.png");
}
.ed {
	background-image: url("../images/logosMarques/ed.png");
}
.franprix {
	background-image: url("../images/logosMarques/franprix.png");
}
.G20 {
	background-image: url("../images/logosMarques/G20.png");
}
.geant_casino {
	background-image: url("../images/logosMarques/geant_casino.png");
}
.hyperU {
	background-image: url("../images/logosMarques/hyperU.png");
}
.intermarche_express {
	background-image: url("../images/logosMarques/intermarche_express.png");
}
.intermarches_contact {
	background-image: url("../images/logosMarques/intermarches_contact.png");
}
.intermarches_hyper {
	background-image: url("../images/logosMarques/intermarches_hyper.png");
}
.intermarche_super {
	background-image: url("../images/logosMarques/intermarche_super.png");
}
.Leader_Price {
	background-image: url("../images/logosMarques/Leader_Price.png");
}
.leclerc {
	background-image: url("../images/logosMarques/leclerc.png");
}
.LeMutant {
	background-image: url("../images/logosMarques/LeMutant.png");
}
.Lidl {
	background-image: url("../images/logosMarques/Lidl.png");
}
.match {
	background-image: url("../images/logosMarques/match.png");
}
.maxi {
	background-image: url("../images/logosMarques/maxi.png");
}
.maxi_coop {
	background-image: url("../images/logosMarques/maxi_coop.png");
}
.maximarche {
	background-image: url("../images/logosMarques/maximarche.png");
}
.migros {
	background-image: url("../images/logosMarques/migros.png");
}
.monop {
	background-image: url("../images/logosMarques/monop.png");
}
.monoprix {
	background-image: url("../images/logosMarques/monoprix.png");
}
.Netto {
	background-image: url("../images/logosMarques/Netto.png");
}
.norma {
	background-image: url("../images/logosMarques/norma.png");
}
.petit_casino {
	background-image: url("../images/logosMarques/petit_casino.png");
}
.point_coop {
	background-image: url("../images/logosMarques/point_coop.png");
}
.Proxi {
	background-image: url("../images/logosMarques/Proxi.png");
}
.Schlecker {
	background-image: url("../images/logosMarques/Schlecker.png");
}
.Sherpa {
	background-image: url("../images/logosMarques/Sherpa.png");
}
.shopi {
	background-image: url("../images/logosMarques/shopi.png");
}
.simply_market {
	background-image: url("../images/logosMarques/simply_market.png");
}
.sitis {
	background-image: url("../images/logosMarques/sitis.png");
}
.SPAR {
	background-image: url("../images/logosMarques/SPAR.png");
}
.superU {
	background-image: url("../images/logosMarques/superU.png");
}
.U {
	background-image: url("../images/logosMarques/U.png");
}
.vival {
	background-image: url("../images/logosMarques/vival.png");
}
.viveco {
	background-image: url("../images/logosMarques/viveco.png");
}